<div [formGroup]="form()">
    <fieldset [formGroupName]="field().key" [class]="containerClass()">
        <legend [class]="titleClass()">
            {{ fieldLabel() }}
        </legend>

        <div [class]="fieldsWrapperClass()">
            @for (childField of field().fields; track childField.key) {
            @if (isVisibleInsideNestedGroup(childField)) {
            <div [class]="childField.layout?.wrapperClass ?? 'col-12'">
                <app-field-renderer [field]="childField" [form]="nestedGroup()" [allFields]="allFields()">
                </app-field-renderer>
            </div>
            }
            }
        </div>
    </fieldset>
</div>