<div class="d-flex justify-content-end">
  <div class="mb-3">
    <button type="button" class="btn btn-outline-primary btn-sm me-2" (click)="changeLanguage('en')">
      English
    </button>

    <button type="button" class="btn btn-outline-primary btn-sm" (click)="changeLanguage('ar')">
      العربية
    </button>
  </div>
</div>

<div [class]="schema.layout?.containerClass ?? 'container py-4'">
  <h2>{{ getFormTitle() }}</h2>


  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-3 d-flex gap-2">
      @for (section of sections; track section.key; let i = $index) {
      <button type="button" class="btn" [class.btn-primary]="activeSectionIndex === i"
        [class.btn-outline-primary]="activeSectionIndex !== i" (click)="goToSection(i)" [disabled]="!canGoToSection(i)">
        {{ getSectionTitle(section) }}
      </button>
      }
    </div>

    @for (section of sections; track section.key; let i = $index) {
    @if (activeSectionIndex === i) {
    <section [class]="section.layout?.containerClass ?? 'card card-body mb-3'">
      <h3 [class]="section.layout?.titleClass ?? 'h5 mb-2'">
        {{ getSectionTitle(section) }}
      </h3>

      @if (getSectionDescription(section)) {
      <p [class]="section.layout?.descriptionClass ?? 'text-muted mb-3'">
        {{ getSectionDescription(section) }}
      </p>
      }

      <div [class]="section.layout?.fieldsWrapperClass ?? 'row g-3'">
        @for (field of section.fields; track field.key) {
        @if (isVisible(field)) {
        <div [class]="field.layout?.wrapperClass ?? 'col-12'">
          <app-field-renderer [field]="field" [form]="form">
          </app-field-renderer>
        </div>
        }
        }
      </div>
    </section>
    }
    }

    <div class="mt-3 d-flex gap-2">
      <button type="button" class="btn btn-secondary" (click)="previousSection()" [disabled]="activeSectionIndex === 0">
        {{ 'COMMON.PREVIOUS' | translate }}
      </button>

      @if (activeSectionIndex < sections.length - 1) { <button type="button" class="btn btn-primary"
        (click)="nextSection()">
        {{ 'COMMON.NEXT' | translate }}
        </button>
        }

        @if (activeSectionIndex === sections.length - 1) {
        <button type="submit" class="btn btn-success">
          {{ 'COMMON.SUBMIT' | translate }}
        </button>
        }

        <button type="button" class="btn btn-outline-secondary" (click)="saveDraft()">
          {{ 'COMMON.SAVE_DRAFT' | translate }}
        </button>

        <button type="button" class="btn btn-outline-danger" (click)="clearDraft()">
          {{ 'COMMON.CLEAR_DRAFT' | translate }}
        </button>
    </div>
  </form>

  <pre class="mt-4 bg-light p-3 border rounded">{{ form.getRawValue() | json }}</pre>
</div>